@page "/"

<PageTitle>Chessy Wasm</PageTitle>

@* Human vs Comp lvl 5 by default *@

<div class="main-content">
    <ChessyGame
        WhitePlayer="@whitePlayer"
        BlackPlayer="blackPlayer" />
</div>

@code {
    private Player whitePlayer = new()
    {
        Name = "White",
        Type = PlayerType.Human,
        ComputerLevel = null,
    };

    private Player blackPlayer = new()
    {
        Name = "Black",
        Type = PlayerType.Computer,
        ComputerLevel = 5,
    };
}