@page "/"

<div class="main-content">
    @* Human vs Comp lvl 5 by default *@
    <ChessyGame
        WhitePlayer="whitePlayer"
        BlackPlayer="blackPlayer"
        GameKey="Key" />
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public Guid? Key { get; set; } = null;

    private Player whitePlayer = new()
    {
        Name = "White",
        Type = PlayerType.Human,
        ComputerLevel = null,
    };

    private Player blackPlayer = new()
    {
        Name = "Black",
        Type = PlayerType.Computer,
        ComputerLevel = 5,
    };
}
